/* I'm using this file for custom styles that are a bit tricky with only Tailwind,
like the dynamic background image.
*/
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    /* This will be my default background */
    background-image: linear-gradient(135deg, #87CEEB, #6DD5FA);
}

.background-container.rain {
     /* I'll switch to this background when the weather is rainy. */
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3Z2eGp6ZDNrbDBqM3J1emM2eGJhaXh4NTBkN3hscWp1OWRwbXpxMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/t7Qb8655Z1VfBGr5XB/giphy.gif');
}